<body class="bg-gray-50">
  <div class="flex h-full overflow-hidden">
    <!-- Sidebar -->
    <%- include("./sidebar.ejs") %>

    <!-- Main Content -->
    <div class="flex-1 overflow-y-auto p-10">
      <!-- Note Edit Form -->
      <form
        class="note-edit-form"
        role="form"
        method="POST"
        action="/dashboard/create"
      >
        <!-- Note Heading -->
        <input
          type="text"
          name="title"
          class="text-2xl font-bold mb-2 w-full px-4 py-2 border-b focus:outline-none"
          placeholder="Note Title"
          required
        />

        <!-- Note Body -->
        <textarea
          name="content"
          class="w-full h-96 px-4 py-2 border rounded-lg focus:outline-none"
          placeholder="Start writing your note here..."
        ></textarea>

        <!-- Save Button -->
        <button
          type="submit"
          class="mt-4 px-6 py-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg"
        >
          Save New Note
        </button>
        <!-- Delete Button -->
      </form>
    </div>
  </div>
</body>
