<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <meta name="description" content="<%- description %>" />
    <link href="/build/tailwind.css" rel="stylesheet" />

    <style>
      @font-face {
        font-family: "Signika";
        src: url("/fonts/Signika.ttf") format("truetype");
      }
      .dashboard-header {
        font-family: "Signika", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="flex flex-col h-screen">
      <!-- Header -->
      <%- include("../dashboard/dashboard-header.ejs") %>

      <!-- Main body container -->
      <div class="flex flex-1 overflow-hidden"><%- body %></div>
    </div>
  </body>
</html>
